VITE_SUPABASE_URL=https://ffudjrhyemaouqldftza.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmdWRqcmh5ZW1hb3VxaGRmdHphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNDI3OTQsImV4cCI6MjA5MzkxODc5NH0.cBw-AsK3Q9RrJalGvaXVV3a343BsUquiQBaQZHck-eM